{% load static %}

<!DOCTYPE html>

<html lang="en">
       
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>BNWhy-Q&A Forum</title>
    </head>

    <body style="background: rgba(220,220,220, 0.8);">
     
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background: rgba(128,128,128, 0.4);">
            <a class="navbar-brand" href="/" style="color: #ab8d3f; font-size: 30px;">·B·N·WHY·</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"id="navbarNavDropdown">
                <ul class="navbar-nav"style="font-size: 20px !important;">
                    <li class="nav-item" >
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alteryx">Alteryx</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sql">SQL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sharepoint">Sharepoint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/R-python-vba">R·Python·VBA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ocr">OCR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blue-prism">Blue Prism</a>
                    </li>
                </ul>
                <a class="btn btn-outline-light btn-lg" style="color:#ab8d3f;" href="{% url 'posts-create' %}">Ask a Question!</a></br></br>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><span class="fas fa-sign-in-alt"></span> Profile</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><span class="fas fa-sign-in-alt"></span> Logout</a>
                  </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}"><span class="fas fa-user"></span> Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}"><span class="fas fa-sign-in-alt"></span> Login</a>
                </li>
              </ul>
              {% endif %}
            </div>
            </nav>

    <section class="hero">
        <div class="container">
            <h1>·B·N·WHY·</h1>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-white" style="text-align: center; font-family:'Abel';letter-spacing:6px;font-size: 3rem;text-shadow: 1px 1px 1px #000;">The convenient Q&A forum for the BNYM Innovation Center!</p>
                    </div>
                </div>
            </div>
        </section>
    <div id="particles-js"></div>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-lg-4 col-4 px-1"id="alteryx"><img class="img-fluid" src="/static/imgs/night-sky.jpg" alt="night sky" style="display: block;"><div class="overlay"></div><a class="caption" href="/alteryx" style="text-decoration:none; color:aliceblue;"> Alteryx </a></div>
            <div class="col-lg-4 col-4 px-1"id="sql"><img class="img-fluid" src="/static/imgs/sql-thumbnail.jpg" alt="sql"style="display: block;"><div class="overlay"></div><a class="caption" href="/sql" style="text-decoration:none; color:aliceblue;"> SQL </a></div>
            <div class="col-lg-4 col-4 px-1"id="sharepoint"><img class="img-fluid" src="/static/imgs/sharepoint-thumbnail.jpg" alt="sharepoint"style="display: block;"><div class="overlay"></div><a class="caption" href="/sharepoint" style="text-decoration:none; color:aliceblue;"> Share Point </a></div>
        </div>

        <br>
        <div class="row" id="gallery"> 
            <div class="col-lg-4 col-4 px-1"id="rpyvba"><img class="img-fluid" src="/static/imgs/python-thumbnail.jpg" alt="rpyvba"style="display: block;"><div class="overlay"></div><a class="caption" href="/R-python-vba" style="text-decoration:none; color:aliceblue;"> R·Python·VBA </a></div>
            <div class="col-lg-4 col-4 px-1"id="ocr"><img class="img-fluid" src="/static/imgs/ocr.jpg" alt="ocr"style="display: block;"><div class="overlay"></div><a class="caption" href="/ocr" style="text-decoration:none; color:aliceblue;"> OCR </a></div>
            <div class="col-lg-4 col-4 px-1"id="bprism"><img class="img-fluid" src="/static/imgs/blue-prism.jpg" alt="bprism"style="display: block;"><div class="overlay"></div><a class="caption" href="/blue-prism" style="text-decoration:none; color:aliceblue;"> Blue Prism </a></div>
        </div>
    </div>
    <br><br>

    <div class="container" style="border:2px solid #ab8d3f;box-shadow: 10px 10px 5px #A9A9A9; background:rgba(255,255,255)" >
        <div class="row align-items-center">
            <div class="col">
                <p style="font-family:Abel; font-size: 2rem;">This site was created for the Innovation Center team to help each other in a time of need. If someone needs to know something quickly 
                about one of the tools we use on a daily basis then they can ask a question here in the respective category! Then someone who is an expert 
                in that specific tool can answer the question which will ultimately save time and prevent headaches. </p>
            </div>
        </div>
    </div>
    </br></br>
    <br><br>
    <footer id="footer">
        ·B·N·WHY·
    </footer>    
</body>
<!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!--particles js file-->
    <script type="text/javascript" src="/static/js/particles.min.js"></script>    
    <script type="text/javascript" src="/static/js/app.js"></script>  
</html>
