{% extends "base.html" %}
    {% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    {% if object.author == user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'posts-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'posts-delete' object.id %}">Delete</a>
                    </div>
                        
                    {% endif %}
                </div>
                <h2 class="article-title">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
        <hr>
        <div class="content" style="   background: #ffffff; padding: 10px 20px; border: 2px solid #ab8d3f; border-radius: 3px; margin-left:5%">
        <!-- <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comments-detail' object.id %}">Add a comment</a> -->
        <h3>Comments <a class="btn btn-outline-info btn-sm" href="{% url 'comments-detail' pk=post.pk %}">Add a comment!</a></h3></br><hr>
        {% for comment in post.comments.all %}
            <div class="comment">
                <div class="date"><strong>{{ comment.author }}</strong> · {{ comment.date_posted | date:"F d, Y" }}</div>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            <hr>
        {% empty %}
            <p>No comments :(</p>
        {% endfor %}
            </div>
    {% endblock content %}
    
